
@{
    ViewBag.Title = "StoreNotAvailable";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container text-center">
    <div class="page1">
        <div class="brand">

            <h3 class="text-uppercase">Adelfi</h3>
        </div>
        <h1 class="head"><span>Store not available</span></h1>
      

    </div>
</div>

